*{
    margin: 0;
    padding: 0;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 110, 110);
    padding: 2rem;
}


.box {
    height: auto;
    width: 90px;
    background-color: lightgray;
    border: 0.3rem solid rgb(96, 96, 96);
    
}


.op {
    height: 50px;
    background-color: lightpink;
    text-align: center;
    line-height: 50px;
    font-size: large;
    color: grey;
    font-weight: bold;
    margin: 5px auto;
    width: 90%;
    user-select: none;
}


.r {
    background-color: rgb(170, 221, 170);
}


.button {
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 10%;
    margin: 5px auto;
}

.button button {
    background-color: rgb(110, 110, 110);
    border: none;
    user-select: none;
    outline:0;
    color: white;
}

.button button:hover{
    background-color: rgb(167, 163, 163);
}